.logout__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: aliceblue;
  margin: 10px auto;
  padding: 20px;
}

.logout__btn > button {
  background-color: rgb(47, 0, 255); 
}
.logout__btn > button:hover {
  background-color: rgb(47, 0, 255, 0.8); 
}